$font-stack: Roboto;
$board-color: #4b535c;
  
body {
  text-align: center;
  font-family: $font-stack;
  width: 1000px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: $board-color;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 990px;
  padding: 30px;
}

.flex-container>div {
  width: 98px;
  height: 98px;
  text-align: center;
}

.nullcolor {
  background: #fff;
}

.Ocolor {
  background: $board-color;
}

.Pcolor {
  background: #fff;
  background-image: url("https://www.ashlynnpai.com/assets/Idle__000.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

.ratcolor {
  background: #fff;
  background-image: url("https://southparkstudios.mtvnimages.com/shared/characters/non-human/lemmiwinks.png");
  background-size: 60px;
  background-repeat: no-repeat;
}

.starter_swordcolor {
  background: #fff;
}

#display {
  display: flex;
  height: 200px;  
  justify-content: center;
}

#display>div {
  width: 135px;
  border: solid 1px black;
  line-height: .5em;
}

#display-log {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  background: pink;
}
.avatar {
  height: 150px;
}

.hidden {
  background: orange;
}

.progress-bar {
    background-color: #1a1a1a;
  text-align: left;
    height: 20px;
    padding: 5px;
    width: 250px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

/*https://catalin.red/stylish-css3-progress-bars/*/

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;   
    text-align: center;
}

.green span {
    background-color: #2ec128;
}

.yellow span {
    background-color: #f7eb14;
}

.red span {
    background-color: #FF4C4C;
}