$font-stack: Roboto;
$board-color: #4b535c;
  
body {
  text-align: center;
  font-family: $font-stack;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: $board-color;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1000px;
}

.flex-container>div {
  width: 47px;
  height: 47px;
  border: solid 1px #505963;
  text-align: center;
}

.nullcolor {
  background: #fff;
}

.Ocolor {
  background: $board-color;
}

.Pcolor {
  background: #fff;
}

