$font-stack: Roboto;
$board-color: #4b535c;
  
body {
  text-align: center;
  font-family: $font-stack;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: $board-color;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1000px;
}

.flex-container>div {
  width: 49px;
  height: 49px;
  text-align: center;
}

.nullcolor {
  background: #fff;
}

.Ocolor {
  background: $board-color;
}

.Pcolor {
  background: #fff;
  background-image: url("https://www.ashlynnpai.com/assets/Idle__000.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

#display {
  display: flex;
  height: 200px;  
  justify-content: center;
}

#display>div {
  width: 135px;
  border: solid 1px black;
  line-height: .5em;
}

.avatar {
  height: 150px;
}